@use "../variables" as *;
@use "../mixins" as *;

.blog-header {
  background: #ececec;
  border-radius: $border-radius-mobile;
  padding: 15px;
  text-align: center;

  @include media-tablet-up {
    padding: 24px;
  }

  &__title { color: $black; }
  &__subtitle { color: $black; }
}

.blog-layout {
  display: block;

  @include media-desktop-up {
    display: grid;
    grid-template-columns: 1fr 435px;
    gap: $spacing-60;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-30;
}

.blog-sidebar {
  display: none;
  flex-direction: column;
  gap: $spacing-60;

  @include media-desktop-up {
    display: flex;
  }
}

.blog-sidebar__section {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;
}

.blog-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: $spacing-30;
}

.blog-sidebar__row {
  display: inline-flex;
  align-items: flex-start;
  gap: $spacing-15;
}

.blog-sidebar__thumb {
  width: 180px;
  height: 180px;
  border-radius: $border-radius-mobile;
  overflow: hidden;
  position: relative;
  background-color: $black;

  img { width: 100%; height: 100%; object-fit: cover; display: block; }
}

.blog-sidebar__info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog-sidebar__banner {
  align-self: stretch;
  padding-right: 15px;
  background: white;
  overflow: hidden;
  border-radius: $border-radius-mobile;
  outline: 1px $gray-70 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-15;
  display: inline-flex;
}

.blog-sidebar__banner-image {
  width: 180px;
  height: 180px;
  padding: 0px;
  position: relative;
  img { width: 100%; height: 100%; object-fit: cover; display: block; }
  background-color: $black;
}

.blog-sidebar__banner-body {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $spacing-15;
}

.blog-banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $spacing-15;
  border: 1px solid $gray-70;
  border-radius: $border-radius-mobile;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;

    img { width: 100%; height: 100%; object-fit: cover; display: block; }
  }

  &__body { flex: 1; display: flex; flex-direction: column; gap: 6px; padding: 15px; }
  &__title { color: $black; }
  &__subtitle { color: $black; }

  a.btn { margin: 0 15px 15px; align-self: stretch; text-align: center; }

  @include media-tablet-up {
    flex-direction: row;
    align-items: center;
    gap: $spacing-15;
    padding-right: 15px;

    &__image { width: 270px; height: 180px; flex-shrink: 0; }
    &__body { padding: 0; }
    a.btn { margin: 0; align-self: center; }
  }
}

.blog-main-article {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;

  @include media-desktop-up {
    gap: $spacing-30;
  }

  &__thumb {
    width: 100%;
    height: 410px;
    overflow: hidden;
    border-radius: $border-radius-mobile;
    position: relative;

    @include media-desktop-up { height: 531px; }

    img { width: 100%; height: 100%; object-fit: cover; display: block; }
  }
}
