@use "../variables" as *;

.blog-header {
  @include responsive-border-radius;
}

@layer cms {
.post-content {
  ul, p {
    margin-top: 0;
  }

  h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
}

.blog-sidebar__thumb {
  @include responsive-border-radius;
}

.blog-sidebar__banner {
  @include responsive-border-radius;
}

.blog-banner {
  @include responsive-border-radius;
}

.blog-main-article__thumb {
  @include responsive-border-radius;
}

.post-video {
  @include responsive-border-radius;
}
