@use "../variables" as *;
@use "../mixins" as *;

.blog-header {
  background: #ececec;
  @include responsive-border-radius;
  padding: 15px;
  text-align: center;

  @include media-tablet-up {
    padding: 24px;
  }

  &__title {
    color: $black;
  }
  &__subtitle {
    color: $black;
  }
}

.blog-layout {
  display: block;

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: $spacing-60;
  }
  @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 450px;
        gap: $spacing-60;
  }
}

.post-body{
    display: flex;
    flex-direction: column;
}

.post-content{
    width: 100%;
    
    @media (min-width: 1440px) {
        max-width: 700px;
    display: block;
    margin: 0 auto;
  }
  ul, p{
    margin-top: 0;
    //margin-bottom: 0;
  }

  h2, h3{
    margin-top: 0;
    margin-bottom: 0;
  }
}


.blog-sidebar {
  display: none;
  flex-direction: column;
  gap: $spacing-60;

  // Show sidebar only on screens >= 1280px
  @media (min-width: 1280px) {
    display: flex;
  }
}

.blog-sidebar__section {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;
}

.blog-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: $spacing-30;
}

.blog-sidebar__row {
  display: inline-flex;
  align-items: flex-start;
  gap: $spacing-15;
}

.blog-sidebar__thumb {
  width: 150px;
  height: 150px;
  @include responsive-border-radius;
  overflow: hidden;
  position: relative;
  background-color: $black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.blog-sidebar__info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog-sidebar__banner {
  align-self: stretch;
  padding-right: 15px;
  background: white;
  overflow: hidden;
  @include responsive-border-radius;
  outline: 1px $gray-90 solid;
  justify-content: flex-start;

  // Hover: Change text colors for title/subtitle within sidebar banner
  &:hover .type-xl,
  &:hover .type-md {
    color: $primary-color;
  }
  align-items: center;
  gap: $spacing-15;
  display: inline-flex;

  &.is-affilliated {
    background: $gray-20;
  }
}

.blog-sidebar__banner-image {
  width: 150px;
  height: -webkit-fill-available;
  padding: 0px;
  position: relative;
  background-color: $black;
  

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.blog-sidebar__banner-body {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0;
  gap: $spacing-15;
}

.blog-banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // gap: $spacing-15;
  border: 1px solid $gray-70;
  @include responsive-border-radius;
  overflow: hidden;
  gap: 0;
  

  &.is-affilliated {
    background: $gray-10;
  }

  // Smooth color transitions for hover
  &__title,
  &__subtitle {
    transition: color 0.2s ease-in-out;
  }

  // Hover: Change title/subtitle colors on content banner
  &:hover .blog-banner__title,
  &:hover .blog-banner__subtitle {
    color: $primary-color;
  }

  &__image {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px;
  }
  &__title {
    color: $black;
  }
  &__subtitle {
    color: $black;
  }

  .btn {
    margin: 0 $spacing-15 $spacing-15 $spacing-15;
    align-self: stretch;
    text-align: center;
    @include media-tablet-up {
      margin: 0;
      align-self: center;
    }
  }

  @include media-tablet-up {
    flex-direction: row;
    align-items: center;
    gap: $spacing-15;
    padding-right: 15px;

    &__image {
      width: 150px;
      height: 150px;
      flex-shrink: 0;
    }
    &__body {
      padding: 0;
    }
    
  }

  @include media-desktop-lg-up {
    &__image {
      width: 210px;
      height: 150px;
      flex-shrink: 0;
    }
    gap: $spacing-30;
  }

  
}

.blog-main-article {
  display: flex;
  flex-direction: column;
  gap: $spacing-15;

  @include media-desktop-up {
    flex-direction: row;
    //align-items: center;
    gap: $spacing-30;
  }

  &__thumb {
    width: 100%;
    height: 270px;
    overflow: hidden;
    @include responsive-border-radius;
    position: relative;

    @include media-desktop-up {
      height: 330px;
      width: 60%;
      flex-shrink: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $spacing-15;

    @include media-desktop-up {
      width: 40%;
    }
  }

  // Main article title link behavior
  h1 a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  h1 a:hover,
  h1 a:focus-visible {
    color: $primary-color;
  }
}

// Responsive embedded video inside blog content
.post-video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0;
  @include responsive-border-radius;
}
