@use "../variables" as *;
@use "../mixins" as *;

@layer cms {
.page {
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: $spacing-15;

    @include media-tablet-up {
      border-radius: $spacing-30;
    }
  }
}
}
