@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;
@use "./helpers" as *;
@use "./components/header" as *;
@use "./components/hero" as *;
@use "./components/button" as *;
@use "./components/product-listing" as *;
@use "./components/footer" as *;
@use "./components/home-banners" as *;
@use "./components/home-articles" as *;
@use "./components/store-subheader" as *;
@use "./components/paginator" as *;
@use "./components/product-img-gallery" as *;
@use "./components/breadcrumb" as *;
@use "./components/blog" as *;
@use "./forms" as *;

// Global SCSS (custom variables)
:root {
    --background: #{$white};
    --foreground: #{$black};
    --primary-500: #{$primary-color};
    --font-main: #{$font-family};
    // ...other variables
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .main {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: $spacing-15;
        padding-right: $spacing-15;
        width: calc(100% - #{$spacing-30});
        max-width: 100%; // Mobile-first: full width

        @include media-desktop-up {
            padding-left: $spacing-30;
            padding-right: $spacing-30;
            width: calc(100% - #{$spacing-60});
            max-width: $breakpoint-desktop-lg;
        }
    }
    .main-condensed {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: $spacing-15;
        padding-right: $spacing-15;
        width: calc(100% - #{$spacing-30});
        max-width: 100%; // Mobile-first: full width

        @include media-desktop-up {
            padding-left: $spacing-30;
            padding-right: $spacing-30;
            width: calc(100% - #{$spacing-60});
            max-width: 720px;
            
            //max-width: $breakpoint-desktop-lg;
        }
    }
    a  {
        img{
            //opacity: 30%;
        }
    }
}

hr{
    border: none;
    border-top: 1px solid $gray-10;
    margin: 0;
}

